System.Deployment/manifest.2.0.0.15-pre.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:schemas-microsoft-com:asm.v2" xmlns:asm.v3="urn:schemas-microsoft-com:asm.v3" xmlns:asm.v2="urn:schemas-microsoft-com:asm.v2" xmlns:asm.v1="urn:schemas-microsoft-com:asm.v1" xmlns:xrml="http://www.xrml.org/schema/2001/11/xrml2core" xmlns:r="urn:mpeg:mpeg21:2003:01-REL-R-NS" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:enc="http://www.w3.org/2001/04/xmlenc#" targetNamespace="urn:schemas-microsoft-com:asm.v2" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.0.0.0.2.xsd" />
  <xs:import namespace="http://www.xrml.org/schema/2001/11/xrml2core" schemaLocation="xrml2core.0.0.0.1.xsd" />
  <xs:import namespace="urn:mpeg:mpeg21:2003:01-REL-R-NS" schemaLocation="mpeg-r.0.0.0.1.xsd" />
  <xs:simpleType name="twoPartVersionType">
    <xs:restriction base="xs:string">
      <xs:pattern value="(0*[0-9]{1,4}|0*[1-5][0-9]{4}|0*6[0-4][0-9]{3}|0*65[0-4][0-9]{2}|0*655[0-2][0-9]|0*6553[0-5])\.(0*[0-9]{1,4}|0*[1-5][0-9]{4}|0*6[0-4][0-9]{3}|0*65[0-4][0-9]{2}|0*655[0-2][0-9]|0*6553[0-5])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="fourPartVersionType">
    <xs:restriction base="xs:string">
      <xs:pattern value="(0*[0-9]{1,4}|0*[1-5][0-9]{4}|0*6[0-4][0-9]{3}|0*65[0-4][0-9]{2}|0*655[0-2][0-9]|0*6553[0-5])\.(0*[0-9]{1,4}|0*[1-5][0-9]{4}|0*6[0-4][0-9]{3}|0*65[0-4][0-9]{2}|0*655[0-2][0-9]|0*6553[0-5])\.(0*[0-9]{1,4}|0*[1-5][0-9]{4}|0*6[0-4][0-9]{3}|0*65[0-4][0-9]{2}|0*655[0-2][0-9]|0*6553[0-5])\.(0*[0-9]{1,4}|0*[1-5][0-9]{4}|0*6[0-4][0-9]{3}|0*65[0-4][0-9]{2}|0*655[0-2][0-9]|0*6553[0-5])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TwoByteVersion">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="65535" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OneByteVersion">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="yesNoType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="yes" />
      <xs:enumeration value="no" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="yesNoBoolType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="yes" />
      <xs:enumeration value="no" />
      <xs:enumeration value="true" />
      <xs:enumeration value="false" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="HashStringType">
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9a-fA-f]{2})+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="hashAlgorithmType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SHA1" />
      <xs:enumeration value="SHA" />
      <xs:enumeration value="MD5" />
      <xs:enumeration value="MD4" />
      <xs:enumeration value="MD2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="publicKeyTokenType">
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9]|[a-f]|[A-F]){16}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GuidType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\{[0-9A-Fa-f]{8}\-[0-9A-Fa-f]{4}\-[0-9A-Fa-f]{4}\-[0-9A-Fa-f]{4}\-[0-9A-Fa-f]{12}\}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="processorArchitectureType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="x86" />
      <xs:enumeration value="ia64" />
      <xs:enumeration value="amd64" />
      <xs:enumeration value="wow64" />
      <xs:enumeration value="msil" />
      <xs:enumeration value="shx" />
      <xs:enumeration value="arm" />
      <xs:enumeration value="data" />
      <xs:enumeration value="neutral" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="buildType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="debug" />
      <xs:enumeration value="release" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pathType">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="ThreadingModelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Apartment" />
      <xs:enumeration value="Free" />
      <xs:enumeration value="Single" />
      <xs:enumeration value="Both" />
      <xs:enumeration value="Neutral" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dependencyResourceTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="resources" />
      <xs:enumeration value="Resources" />
      <xs:enumeration value="manifestResources" />
      <xs:enumeration value="languageEnabling" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="assemblyIdentityType">
    <xs:complexContent>
      <xs:extension base="identityType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="assemblyIdentityReference">
    <xs:complexContent>
      <xs:extension base="assemblyIdentityType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="dependencyType">
    <xs:sequence>
      <xs:choice>
        <xs:element name="dependentAssembly" type="dependentAssemblyType" />
        <xs:element name="dependentOS" type="dependentOSType"></xs:element>
        <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xs:any>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="optional" type="yesNoBoolType" use="optional"></xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="clrClassType">
    <xs:complexContent>
      <xs:extension base="comClassType">
        <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
        <xs:attribute name="runtimeVersion" type="xs:string" use="optional"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="clrSurrogateType">
    <xs:attribute name="clsid" type="GuidType" use="required"></xs:attribute>
    <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="runtimeVersion" type="xs:string" use="optional"></xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="comInterfaceProxyStubType" mixed="true">
    <xs:attribute name="iid" type="GuidType" use="required"></xs:attribute>
    <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="tlbid" type="GuidType" use="optional"></xs:attribute>
    <xs:attribute name="numMethods" type="xs:integer" use="optional"></xs:attribute>
    <xs:attribute name="proxyStubClsid32" type="GuidType" use="optional"></xs:attribute>
    <xs:attribute name="baseInterface" type="GuidType" use="optional"></xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="comInterfaceExternalProxyStubType">
    <xs:attribute name="iid" type="GuidType" use="required"></xs:attribute>
    <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="tlbid" type="GuidType" use="optional"></xs:attribute>
    <xs:attribute name="numMethods" type="xs:unsignedInt" use="optional" default="0"></xs:attribute>
    <xs:attribute name="proxyStubClsid32" type="GuidType" use="optional"></xs:attribute>
    <xs:attribute name="baseInterface" type="GuidType" use="optional"></xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="typelibType">
    <xs:attribute name="tlbid" type="GuidType" use="required"></xs:attribute>
    <xs:attribute name="version" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="helpdir" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="resourceid" type="xs:string" use="optional"></xs:attribute>
    <xs:attribute name="flags" type="xs:string" use="optional"></xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="comClassType">
    <xs:sequence minOccurs="0">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="progid">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:anyAttribute namespace="##other" processContents="lax" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xs:any>
    </xs:sequence>
    <xs:attribute name="clsid" type="GuidType" use="required"></xs:attribute>
    <xs:attribute name="threadingModel" type="ThreadingModelType" default="Single"></xs:attribute>
    <xs:attribute name="progid" type="xs:string"></xs:attribute>
    <xs:attribute name="tlbid" type="GuidType"></xs:attribute>
    <xs:attribute name="description" type="xs:string"></xs:attribute>
    <xs:attribute name="miscStatus" type="xs:string" use="optional" />
    <xs:attribute name="miscStatusIcon" type="xs:string" use="optional" />
    <xs:attribute name="miscStatusContent" type="xs:string" use="optional" />
    <xs:attribute name="miscStatusDocPrint" type="xs:string" use="optional" />
    <xs:attribute name="miscStatusThumbnail" type="xs:string" use="optional" />
    <xs:attribute name="auxUserTypeFull" type="xs:string" use="optional" />
    <xs:attribute name="auxUserTypeShort" type="xs:string" use="optional" />
    <xs:attribute name="auxUserTypeAppName" type="xs:string" use="optional" />
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="windowClassType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="versioned" type="yesNoType" use="optional"></xs:attribute>
        <xs:anyAttribute namespace="##other" processContents="lax" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="fileType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="comClass" type="comClassType" />
      <xs:element name="comInterfaceProxyStub" type="comInterfaceProxyStubType" />
      <xs:element name="typelib">
        <xs:complexType mixed="true">
          <xs:complexContent mixed="true">
            <xs:extension base="typelibType" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="windowClass" type="windowClassType" />
      <xs:element name="hash" type="hashType"></xs:element>
      <xs:any namespace="##other" processContents="lax" minOccurs="0"></xs:any>
    </xs:choice>
    <xs:attribute name="name" type="xs:string" use="optional"></xs:attribute>
    <xs:attribute name="hash" type="xs:hexBinary" use="optional"></xs:attribute>
    <xs:attribute name="hashalg" type="hashAlgorithmType" use="optional"></xs:attribute>
    <xs:attribute name="size" type="xs:unsignedLong" use="optional"></xs:attribute>
    <xs:attribute name="optional" type="xs:boolean" use="optional" default="false"></xs:attribute>
    <xs:attribute name="group" type="xs:string" use="optional"></xs:attribute>
    <xs:attribute name="writeableType" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="applicationData" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="migrationType">
    <xs:sequence>
      <xs:any namespace="##other" minOccurs="0"></xs:any>
    </xs:sequence>
    <xs:attribute name="customDataMigration" type="xs:boolean" use="optional" default="false" />
  </xs:complexType>
  <xs:complexType name="baseDependencyType" abstract="true">
    <xs:attribute name="optional" type="xs:boolean" use="optional" default="false"></xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="identityType">
    <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="version" type="fourPartVersionType" use="optional"></xs:attribute>
    <xs:attribute name="type" type="xs:string" use="optional"></xs:attribute>
    <xs:attribute name="processorArchitecture" type="processorArchitectureType" use="optional"></xs:attribute>
    <xs:attribute name="publicKeyToken" type="publicKeyTokenType" use="optional"></xs:attribute>
    <xs:attribute name="language" type="xs:string" use="optional"></xs:attribute>
    <xs:anyAttribute namespace="##any" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="identityReferenceType">
    <xs:complexContent>
      <xs:extension base="identityType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:attributeGroup name="commonAttributesGroup">
    <xs:attribute name="manifestVersion" type="twoPartVersionType" use="required" fixed="1.0"></xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="dependentAssemblyType">
    <xs:sequence>
      <xs:element name="assemblyIdentity" type="assemblyIdentityReference" />
      <xs:element name="hash" type="hashType" minOccurs="0" maxOccurs="unbounded"></xs:element>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"></xs:any>
    </xs:sequence>
    <xs:attribute name="dependencyType" use="optional" default="preRequisite">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="preRequisite" />
          <xs:enumeration value="install" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="codebase" type="xs:anyURI"></xs:attribute>
    <xs:attribute name="size" type="xs:integer" use="optional"></xs:attribute>
    <xs:attribute name="hash" type="HashStringType" use="optional"></xs:attribute>
    <xs:attribute name="hashalg" type="hashAlgorithmType" use="optional"></xs:attribute>
    <xs:attribute name="group" type="xs:string" use="optional"></xs:attribute>
    <xs:attribute name="description" type="xs:string" use="optional"></xs:attribute>
    <xs:attribute name="supportUrl" type="xs:anyURI" use="optional"></xs:attribute>
    <xs:attribute name="resourceFallbackCulture" type="xs:language" use="optional"></xs:attribute>
    <xs:attribute name="resourceFallbackCultureInternal" type="xs:boolean" use="optional"></xs:attribute>
    <xs:attribute name="allowDelayedBinding" type="xs:boolean" use="optional" default="false"></xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="assemblyType">
    <xs:sequence>
      <xs:choice minOccurs="0">
        <xs:element name="noInherit">
          <xs:complexType>
            <xs:anyAttribute namespace="##other" processContents="lax" />
          </xs:complexType>
        </xs:element>
        <xs:element name="noInheritable">
          <xs:complexType>
            <xs:anyAttribute namespace="##other" processContents="lax" />
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:element name="assemblyIdentity" type="assemblyIdentityType"></xs:element>
      <xs:element name="description" type="descriptionType" minOccurs="0"></xs:element>
      <xs:sequence minOccurs="0">
        <xs:element name="application" minOccurs="0">
          <xs:complexType>
            <xs:anyAttribute namespace="##other" processContents="lax" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="dependency" type="dependencyType"></xs:element>
        <xs:element name="file" type="fileType"></xs:element>
        <xs:element name="configuration" type="configurationType"></xs:element>
        <xs:element name="deployment" type="deploymentType"></xs:element>
        <xs:element name="entryPoint" type="entryPointType"></xs:element>
        <xs:element name="trustInfo" type="trustInfoType"></xs:element>
        <xs:element name="licensing" type="licensingType"></xs:element>
        <xs:element name="migration" type="migrationType" minOccurs="0"></xs:element>
        <xs:element name="clrClass" type="clrClassType"></xs:element>
        <xs:element name="clrSurrogate" type="clrSurrogateType"></xs:element>
        <xs:element name="comInterfaceExternalProxyStub" type="comInterfaceExternalProxyStubType"></xs:element>
        <xs:element name="KeyInfo" type="ds:KeyInfoType"></xs:element>
        <xs:any namespace="##other" processContents="skip" minOccurs="0"></xs:any>
        <xs:element name="publisherIdentity" type="publisherIdentityType" minOccurs="0" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="commonAttributesGroup" />
  </xs:complexType>
  <xs:complexType name="categoryIdentityReferenceType">
    <xs:attribute name="name" type="xs:string" use="optional"></xs:attribute>
    <xs:attribute name="version" type="fourPartVersionType" use="optional"></xs:attribute>
    <xs:attribute name="type" type="xs:string" use="optional"></xs:attribute>
    <xs:attribute name="processorArchitecture" type="processorArchitectureType" use="optional"></xs:attribute>
    <xs:attribute name="publicKeyToken" type="publicKeyTokenType" use="optional"></xs:attribute>
    <xs:attribute name="culture" type="xs:string" use="optional"></xs:attribute>
    <xs:attribute name="language" type="xs:string" use="optional"></xs:attribute>
    <xs:attribute name="typeName" type="xs:string" use="optional" />
    <xs:attribute name="buildType" type="buildType" use="optional"></xs:attribute>
    <xs:attribute name="buildFilter" type="xs:string" use="optional"></xs:attribute>
    <xs:anyAttribute namespace="##any" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="categoryMembershipType">
    <xs:sequence>
      <xs:element name="id" type="categoryIdentityReferenceType" />
      <xs:choice minOccurs="0"></xs:choice>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="assembly">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="assemblyType" />
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="fileNameKey_asm.v2">
      <xs:selector xpath="file" />
      <xs:field xpath="@name" />
    </xs:key>
  </xs:element>
  <xs:complexType name="trustInfoType">
    <xs:sequence>
      <xs:element name="security" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="applicationRequestMinimum" type="applicationRequestMinimumType" minOccurs="0" />
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
          <xs:anyAttribute namespace="##other" processContents="lax" />
        </xs:complexType>
      </xs:element>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="descriptionType" mixed="true">
    <xs:attribute name="publisher" type="xs:string" use="optional"></xs:attribute>
    <xs:attribute name="product" type="xs:string" use="optional"></xs:attribute>
    <xs:attribute name="supportUrl" type="xs:anyURI" use="optional"></xs:attribute>
    <xs:attribute name="iconFile" type="xs:string" use="optional"></xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="entryPointType">
    <xs:sequence>
      <xs:element name="assemblyIdentity" type="assemblyIdentityReference" minOccurs="0"></xs:element>
      <xs:choice>
        <xs:element name="commandLine" minOccurs="0">
          <xs:complexType>
            <xs:attribute name="file" type="xs:string" use="required" />
            <xs:attribute name="parameters" type="xs:string" use="optional" />
            <xs:anyAttribute namespace="##other" processContents="lax" />
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="licensingType">
    <xs:sequence>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="buildFilter" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:element name="trustToRun" substitutionGroup="xrml:right"></xs:element>
  <xs:element name="trustToAccessLocalMachine" substitutionGroup="xrml:resource"></xs:element>
  <xs:element name="identityCondition" substitutionGroup="xrml:condition">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xrml:Condition">
          <xs:sequence>
            <xs:element name="assemblyIdentity" type="assemblyIdentityReference" />
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="locationCondition" substitutionGroup="xrml:condition">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xrml:Condition">
          <xs:attribute name="codebase" type="xs:anyURI" use="optional" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="applicationRequestMinimumType">
    <xs:sequence>
      <xs:element name="PermissionSet" maxOccurs="unbounded">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="PermissionSetType">
              <xs:anyAttribute namespace="##any" processContents="lax" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="defaultAssemblyRequest" type="defaultAssemblyRequestType" minOccurs="0" />
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="IPermissionType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any namespace="##any" processContents="skip" />
    </xs:sequence>
    <xs:attribute name="class" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="version" type="xs:int" use="optional" />
    <xs:anyAttribute namespace="##any" processContents="lax"></xs:anyAttribute>
  </xs:complexType>
  <xs:complexType name="PermissionSetType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="IPermission" type="IPermissionType" />
      <xs:element name="Permission" type="IPermissionType" />
      <xs:any namespace="##other" processContents="lax" minOccurs="0" />
    </xs:choice>
    <xs:attribute name="ID" type="xs:ID" use="required" />
  </xs:complexType>
  <xs:complexType name="defaultAssemblyRequestType">
    <xs:attribute name="permissionSetReference" type="xs:IDREF" />
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="deploymentType">
    <xs:sequence>
      <xs:element name="subscription" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0">
            <xs:element name="update">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="beforeApplicationStartup" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence minOccurs="0">
                        <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
                      </xs:sequence>
                      <xs:anyAttribute namespace="##other" processContents="lax" />
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="expiration" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence minOccurs="0">
                        <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
                      </xs:sequence>
                      <xs:attribute name="maximumAge" type="xs:nonNegativeInteger" use="required" />
                      <xs:attribute name="unit" type="timeUnitType" use="required" />
                      <xs:anyAttribute namespace="##other" processContents="lax" />
                    </xs:complexType>
                  </xs:element>
                  <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="lax" />
              </xs:complexType>
            </xs:element>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
          <xs:anyAttribute namespace="##other" processContents="lax" />
        </xs:complexType>
      </xs:element>
      <xs:element name="deploymentProvider" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="codebase" type="xs:anyURI" use="required" />
          <xs:anyAttribute namespace="##other" processContents="lax" />
        </xs:complexType>
      </xs:element>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="install" type="xs:boolean" use="optional" default="false" />
    <xs:attribute name="noLocalCache" type="xs:boolean" use="optional" default="false" />
    <xs:attribute name="minimumRequiredVersion" type="fourPartVersionType" use="optional" default="0.0.0.0" />
    <xs:attribute name="disallowUrlActivation" type="xs:boolean" use="optional" default="false" />
    <xs:attribute name="promptBelowVersion" type="fourPartVersionType" use="optional" />
    <xs:attribute name="trustURLParameters" type="xs:boolean" use="optional" default="false" />
    <xs:attribute name="mapFileExtensions" type="xs:boolean" use="optional" default="false" />
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="dependentOSType">
    <xs:sequence>
      <xs:element name="osVersionInfo">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="osVersionInfoType">
              <xs:anyAttribute namespace="##other" processContents="lax" />
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="description" type="xs:string" use="optional"></xs:attribute>
    <xs:attribute name="supportUrl" type="xs:anyURI" use="optional"></xs:attribute>
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="osVersionInfoType">
    <xs:sequence>
      <xs:element name="os" type="osType" />
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="osType">
    <xs:attribute name="majorVersion" type="TwoByteVersion" use="required" />
    <xs:attribute name="minorVersion" type="TwoByteVersion" use="required" />
    <xs:attribute name="buildNumber" type="TwoByteVersion" />
    <xs:attribute name="servicePackMajor" type="OneByteVersion" />
    <xs:attribute name="servicePackMinor" type="OneByteVersion" />
    <xs:attribute name="suite" type="suiteType" />
    <xs:attribute name="productType" type="productTypeType" />
  </xs:complexType>
  <xs:simpleType name="productTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="server" />
      <xs:enumeration value="workstation" />
      <xs:enumeration value="domainController" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="suiteType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="backoffice" />
      <xs:enumeration value="blade" />
      <xs:enumeration value="datacenter" />
      <xs:enumeration value="enterprise" />
      <xs:enumeration value="home" />
      <xs:enumeration value="professional" />
      <xs:enumeration value="smallbusiness" />
      <xs:enumeration value="smallbusinessRestricted" />
      <xs:enumeration value="terminal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="timeUnitType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="hours" />
      <xs:enumeration value="days" />
      <xs:enumeration value="weeks" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="namespaceType">
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
  <xs:complexType name="configurationType">
    <xs:complexContent>
      <xs:extension base="namespaceType"></xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="membershipsType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="categoryMembership" type="categoryMembershipType" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="hashType">
    <xs:complexContent>
      <xs:extension base="ds:ReferenceType">
        <xs:sequence>
          <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="publisherIdentityType">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="issuerKeyHash" type="xs:string" />
    <xs:anyAttribute namespace="##other" processContents="lax" />
  </xs:complexType>
</xs:schema>